/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
  color: white;
}

nav a:active {
  background-color: #444;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Desktop Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Mobile Menu Button */
.menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: url("house.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #ff6600;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* ---------- Mobile View ---------- */
@media (max-width: 768px) {
  /* Hide desktop links */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #333;
    padding: 15px;
    border-radius: 8px;
  }

  /* Show menu when active */
  .nav-links.active {
    display: flex;
  }

  /* Show menu button */
  .menu-btn {
    display: block;
  }

  /* Hero text smaller */
  .hero h1 {
    font-size: 35px;
  }

  .hero p {
    font-size: 16px;
  }
}